.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.invisible {
    display: none;
}

.container:hover .invisible{
    display: block;
}